<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Form</title>
</head>
<body>
<h1>This Quiz Page</h1>
<form method="POST" class="post-form">
    {% csrf_token %}
    <p>Question:{{ques.question}}</p>
    {% for choice in data %}
        <input type="radio" id="{{ choice.id }}" name="answer" value="{{ choice.answers }}">
        <label for="student_{{ choice.id }}">{{ choice.answers }}</label>
    {% endfor %}
    
        <button type="submit" href="{% url 'post_mcq' ques.level %}" class="save btn btn-default">Submit</button>
</form>
</body>
</html>