{% extends 'quiz/base.html' %}

{% block title %}Quiz - Home Page{% endblock %}

{% block content %}
    <h1>Welcome to Quiz World</h1>
    {% if level.score %}
    <p>Your Previous Score:{{ level.score }}</p>
    <a class="btn" href="{% url 'get_mcq' level.id %}">Take Quiz again</a>
    {% else %}
    <a class="btn" href="{% url 'get_mcq' level.id %}">Take Quiz</a>
    {% endif %}
{% endblock %}


{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz - Home Page</title>
</head>
<body>
<h1>Welcome to Quiz World</h1>
{% if level.score %}
<p>Your Previous Score:{{ level.score }}</p>
<a class="btn" href="{% url 'get_mcq' level.id %}">Take Quiz again</a>
{% else %}
<a class="btn" href="{% url 'get_mcq' level.id %}">Take Quiz</a>
{% endif %}
</body>
</html> {% endcomment %}