<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Form</title>
</head>
<body>
<h1>This Quiz Page</h1>
<form method="POST" class="post-form" action="{% url 'validate_mcq' ques.id %}">
    {% csrf_token %}
    <p>Question:{{ques.question}}</p>
    {% for choice in data %}
        <input type="radio" id="{{ choice.id }}" name="answer" value="{{ choice.answer_options }}">
        <label for="{{ choice.id }}">{{ choice.answer_options }}</label>
    {% endfor %}
    
    <button type="submit" class="save btn btn-default">Submit</button>
    <p>My Score:{{ score.score }}</p>
    <p>My Level:{{ score.level_flag }}</p>
</form>
</body>
</html>